.u-section-1 .u-sheet-1 {
  min-height: 999px;
}

.u-section-1 .u-group-1 {
  margin-top: 53px;
  margin-bottom: 0;
  min-height: 103px;
  height: auto;
  margin-left: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -5px 0;
}

.u-section-1 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 0;
  min-height: 790px;
  grid-template-rows: auto;
  height: auto;
  margin-left: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 376px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 26px 19px 0 1px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 370px;
  height: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  margin: 26px 10px 0 1px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px auto 0 1px;
  padding: 5px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 376px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 26px 19px 0 1px;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 370px;
  height: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  background-image: none;
  margin: 26px 10px 0 1px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px auto 0 1px;
  padding: 5px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 376px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 26px 19px 0 1px;
}

.u-section-1 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 370px;
  height: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  margin: 26px 10px 0 1px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px auto 0 1px;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 56px;
    min-height: 108px;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 30px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 43px;
    min-height: 820px;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -34px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 296px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    width: 99px;
    height: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: -34px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 296px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    width: 99px;
    height: 38px;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -34px;
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    width: 296px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
    width: 99px;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1750px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 77px;
    min-height: 111px;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 47px;
    min-height: 1516px;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2493px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 74px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin: 0 10px -2px 20px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 48px;
    min-height: 2260px;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 33.33%;
  }

  .u-section-1 .u-image-1 {
    height: 409px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 409px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 409px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2414px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 63px;
    min-height: 94px;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 37px;
    min-height: 2220px;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 336px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 336px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 336px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-list-1 {
  min-height: 755px;
  grid-template-rows: auto;
  height: auto;
  margin-bottom: 46px;
  margin-top: 1px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  grid-auto-rows: 100%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 376px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 26px 19px 0 1px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 370px;
  height: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  background-image: none;
  margin: 26px 10px 0 1px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px auto 0 1px;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 376px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 26px 19px 0 1px;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 370px;
  height: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  background-image: none;
  margin: 26px 10px 0 1px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px auto 0 1px;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 376px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 26px 19px 0 1px;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 370px;
  height: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  background-image: none;
  margin: 26px 10px 0 1px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px auto 0 1px;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    min-height: 622px;
    margin-bottom: 53px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-2 .u-image-1 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 296px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 296px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    width: 296px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1429px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 50%;
  }

  .u-section-2 .u-image-1 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2709px;
  }

  .u-section-2 .u-list-1 {
    min-height: 2679px;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 33.33%;
  }

  .u-section-2 .u-image-1 {
    height: 521px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 521px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 521px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2260px;
  }

  .u-section-2 .u-list-1 {
    min-height: 2215px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-image-1 {
    height: 328px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 328px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 328px;
    margin-right: initial;
    margin-left: initial;
  }
}